################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Modules/LightDirector.Modules.About/obj/x86/Debug
/LightDirectoryClient
/LightDirectorMessages/obj/x86/Debug
/LightDirector.Modules.Toolbar/obj/x86/Debug
/LightDirector.Modules.TimeLine/obj/x86/Debug
/LightDirector.Modules.Menus/obj/x86/Debug
/LightDirector.Modules.Lights/obj/x86/Debug
/LightDirector.Modules.Cues/obj/x86/Debug
/LightDirector.Infrastructure/obj/x86/Debug
/LightDirector/bin/x86/Debug
/LightDirector/bin/x86/Debug
/LightDirector/obj/x86/Debug
/.vs/LightDirector/v14/.suo
/LightDirector.Infrastructure/bin/x86/Debug
/LightDirector.Modules.Toolbar/bin/x86/Debug
/LightDirector.Modules.TimeLine/bin/x86/Debug
/LightDirector.Modules.Menus/bin/x86/Debug
/LightDirector.Modules.Lights/bin/x86/Debug
/LightDirector.Modules.Cues/bin/x86/Debug
/LightDirector.Modules.Viewer/obj/x86/Debug
/LightDirector.Modules.Viewer/bin/x86/Debug
/LightDirectorMessages/bin/x86/Debug
/Modules/LightDirector.Modules.About/bin/x86/Debug
/packages
