<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <appSettings>
      <add key="ClientName" value="CenterScreen"/>
      <add key="ServerUrl" value="ws://localhost:11997/LightDirector"/>
   </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
